body {
    font-family: Optima;
    background-image: url("../images/dashboardbg.jpg");
    background-repeat: no-repeat;
    background-color: white;
    background-position: center;
    background-attachment: fixed;
    background-size: 100%;
}

#calendar {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 25px;
    padding:60px;
}

.fc-button{
    color: #6633FF;
    border-radius: 25px;
    background: white;
}
