body {
    font-family: Optima;
    background-image: url("../images/indexbg.jpg");
    background-repeat: no-repeat;
    background-color: white;
    background-position: center;
    background-attachment: fixed;
    background-size: 100%;
}
